<!DOCTYPE html> 
<html>
    <head>
    </head>
    <body>
        <h1>Dashbord</h1>
        <p>welcome, {{username}}</p>
        <button id="pos-button">Go to POS</button>
        <button id="logout-button" onclick="logout()">Logout</button>

        <script>
            document.getElementById("pos-button").addEventListener('click', function(){
                window.location.href = '/pos'
            });
            document.getElementById('logout-button').addEventListener('click', function(){
                window.location.href = '/logout'
            });
        </script>    
    </body>
</html>